<div class="row">
  <div class="col-md-3">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @team.name %>
    </p>
      <strong>League:</strong>
      <%= @team.league.name %>
    </p>
      <strong>Skill Level:</strong>
      <%= @team.league.skill %>
    </p>
    <p>
      <strong>Number of Players:</strong>
      <%= @team.players.count %>
    </p>
  </div>

  <div class="col-md-3 col-md-ofset-1">
    <ul>
      <% @team.players.each do |player| %>
          <li class="active"><%= link_to player.name, player %></li>
      <% end %>
    </ul>
  </div>


</div>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %> |
<%= link_to 'Home', root_path %>
