<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<strong>League:</strong>
<%= @team.league.name %>
</p>
<strong>Skill Level:</strong>
<%= @team.league.skill %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
