<div class="page-header">
  <ul class="nav nav-pills pull-right" style="padding-right:60px;">
    <li class="active">
      <%= link_to "Home", root_path %>
    </li>
  </ul>
  <h1><%= @team.name %> <small>// <%= @team.league.name %> League</small></h1>
</div>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <p>
      <strong>Skill Level:</strong>
      <%= @team.league.skill %>
    </p>
    <p>
      <strong>Number of Players:</strong>
      <%= @team.users.count %>
    </p>
    <p>
      <strong>Players:</strong>
    </p>
    <ul>
      <% @team.users.each do |user| %>
          <li class="active"><%= link_to user.name, user %></li>
      <% end %>
    </ul>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom container">
    <%= link_to 'League', @team.league %> |
    <%= link_to 'Edit', edit_team_path(@team) %> |
    <%= link_to 'List All', teams_path %> |
    <%= link_to 'Home', root_path %>
</nav>
