<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>
<p>
  <strong>Skill Level:</strong>
  <%= @league.skill %>
</p>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %> | 
<%= link_to 'Home', root_path %>
