<div class="page-header">
  <ul class="nav nav-pills pull-right" style="padding-right:60px;">
    <li class="active">
      <%= link_to "Home", root_path %>
    </li>
  </ul>
  <h1><%= @league.name %> League <small>// <%= @league.skill %></small></h1>
</div>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <p>
      <strong>Number of Teams:</strong>
      <%= @league.teams.count %>
    </p>
    <p>
      <strong>Teams:</strong>
    </p>
      <ul>
        <% @league.teams.each do |team| %>
          <li>
            <%= link_to team.name, team %>
          </li>
        <% end %>
      </ul>
  </div>



  </div>
</div>

<nav class="navbar navbar-fixed-bottom container">
      <%= link_to 'Edit', edit_league_path(@league) %> |
      <%= link_to 'Back', leagues_path %> |
      <%= link_to 'Home', root_path %>
</nav>
