<div class="page-header">
  <h1><%= @league.name %> League <small>// <%= @league.skill %></small></h1>
</div>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <p>
      <strong>Number of Teams:</strong>
      <%= @league.teams.count %>
    </p>
  </div>

  <div class="col-md-3 col-md-ofset-1">
    <ul>
      <% @league.teams.each do |team| %>
      <li>
        <%= link_to team.name, team %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom">
  <div class="container">
      <%= link_to 'Edit', edit_league_path(@league) %>
      <%= link_to 'List', leagues_path %>
      <%= link_to 'Home', root_path %>
  </div>
</nav>
