<div class="row">
  <div class="col-md-3">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @league.name %>
    </p>
    <p>
      <strong>Skill Level:</strong>
      <%= @league.skill %>
    </p>
    <p>
      <strong>Number of Teams:</strong>
      <%= @league.teams.count %>
    </p>
  </div>

  <div class="col-md-3 col-md-ofset-1">
    <ul>
      <% @league.teams.each do |team| %>
          <li class="active"><%= link_to team.name, team %></li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %> |
<%= link_to 'Home', root_path %>
