<%= form_for @player, :html => {:multipart => true} do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %></br>
    <%= f.hidden_field :avatar_cache %>
    <%= image_tag(@player.avatar_url) if @player.avatar? %>
  </div>
  <div class="field">
    <%= f.check_box :remove_avatar %>
    <%= f.label 'Remove avatar' %>
  </div>

  <div class="field">
    <%= f.label 'Add Teams' %>
    <%= hidden_field_tag "player[team_ids][]", nil %>
    <ul>
      <% Team.all.each do |team| %>
        <li>
          <%= check_box_tag "player[team_ids][]", team.id,
            @player.teams.include?(team) %>
          <%= team.name %>
        </li>
      <% end %>
    </ul>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
