<div class="page-header">
  <h1><%= @player.name %> <small>// <%= @player.team.name %></small></h1>
</div>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <%= image_tag("male-silhouette.png", size: "380x300") %>
  </div>
</div>





<nav class="navbar navbar-fixed-bottom">
  <div class="container">
    <%= link_to 'Team', @player.team %> |
    <%= link_to 'Edit', edit_player_path(@player) %> |
    <%= link_to 'List All', players_path %> |
    <%= link_to 'Home', root_path %>
  </div>
</nav>
