<!DOCTYPE html>
<html>
<head>
  <title>Sport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container">
  <div class="background">
  <div class="jumbotron">
    <h1>X Sports League</h1>
    <ul class="nav nav-pills pull-right">

    <% if signed_in? %>

      <li class="active">
        <%= link_to 'Player Profile', @current_user %>
      </li>

    <% else %>

      <li class="active">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Leagues
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to 'View All', leagues_path %>
            </li>
            <% @leagues.each do |league| %>
            <li role="presentation">
              <%= link_to league.name, league %>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="active">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Teams
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to "View All", teams_path %>
            </li>
            <% @teams.each do |team| %>
            <li role="presentation">
              <%= link_to team.name, team %>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="active">
        <%= link_to 'Players', users_path %>
      </li>

    <% end %>

    </ul>
  </div>
    <%= yield %>
  </div>
</div>

</body>

</footer>
</html>
